body {
  background-color: #E8E4C9;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
}

img {
  position: center;
  display: block;
  margin: auto;
  border: #000 solid 5px;
  border-radius: 50%;
  height: 300px;
}